<td-layout>
    <td-navigation-drawer sidenavTitle="${1:MyApp}" logo="${2:assets:logo}" icon="${3:ligature}" backgroundUrl="${4:trustedBackgroundImageUrl}" name="${5:Account major info such as name}" email="${6:Account second major info such as email}" color="${7:primary|accent|warn}">
        ${8:Main drawer content}
        <div td-navigation-drawer-menu>
            ${9:Drawer content when toggled}
        </div>
    </td-navigation-drawer>
    <div td-sidenav-content>
        ${10:Sidenav content below drawer list}
    </div>
    ${11:Body}
</td-layout>$END$
