<td-layout-nav toolbarTitle="${1:MyApp}" logo="${2:assets:logo}" icon="${3:Will override logo icon}" color="${4:primary|accent|warn}">
    <td-layout-card-over cardTitle="${5:Card title}" cardSubtitle="${6:Card subtitle}" cardWidth="${7:70%}" color="${8:primary|accent|warn}">
        ${9:Card body}
        <div td-after-card>
            ${10:Body below card content}
        </div>
    </td-layout-card-over>
    <td-layout-footer>
        ${11:Global fixed footer}
    </td-layout-footer>
</td-layout-nav>$END$
