<td-layout-nav sidenavTitle="${1:MyApp}" logo="${2:assets:logo}" icon="${3:ligature}">
    <div td-toolbar-content>
        ${4:Toolbar content}
    </div>
    <td-layout-manage-list opened="${5:true|false}" mode="${6:side|over|push}" sidenavWidth="${7:257px}">
        <md-toolbar td-sidenav-content>
            ${8:Inner sidenav toolbar}
        </md-toolbar>
        <md-nav-list td-sidenav-content>
            ${9:Inner sidenav content}
        </md-nav-list>
        <div td-toolbar-content>
            ${10:Inner toolbar for body}
        </div>
        ${11:Body}
    </td-layout-manage-list>
</td-layout-nav>$END$
