<td-layout-nav sidenavTitle="${1:MyApp}" logo="${2:assets:logo}" icon="${3:ligature}" color="${4:primary|accent|warn}">
    <div td-toolbar-content>
        ${5:Toolbar content}
    </div>
    <td-layout-manage-list #{6:ref} [opened]="${7:media.registerQuery('gt-sm') | async}"
                           [mode]="${8:(media.registerQuery('gt-sm') | async) ? 'side' :  'over'}"
                           [sidenavWidth]="${9:(media.registerQuery('gt-xs') | async) ? '257px' : '100%'}">
        <mat-toolbar td-sidenav-content (click)="${10:!media.query('gt-sm') && ${6:ref}.close()}">
            ${11:Inner sidenav toolbar}
        </mat-toolbar>
        <mat-nav-list td-sidenav-content>
            ${12:Inner sidenav content}
        </mat-nav-list>
        <div td-toolbar-content>
            ${13:Inner toolbar for body}
        </div>
        ${14:Body}
        <td-layout-footer-inner>
            ${15:Footer within body}
        </td-layout-footer-inner>
    </td-layout-manage-list>
    <td-layout-footer>
        ${16:Global fixed footer}
    </td-layout-footer>
</td-layout-nav>$END$
