<td-layout-nav-list sidenavTitle="${1:MyApp}" logo="${2:Logo}" icon="${3:Will override logo icon}" opened="${4:true|false}" mode="${5:side|over|push}" sidenavWidth="${6:257px}" color="${7:primary|accent|warn}">
    <div td-sidenav-toolbar-content>
        ${8:Sidenav toolbar content}
    </div>
    <mat-nav-list td-sidenav-content>
        ${9:Sidenav content}
    </mat-nav-list>
    <div td-toolbar-content>
        ${10:Toolbar content}
    </div>
    ${11:Body}
    <td-layout-footer-inner>
        ${12:Footer within body}
    </td-layout-footer-inner>
    <td-layout-footer>
        ${13:Global fixed footer}
    </td-layout-footer>
</td-layout-nav-list>$END$
