<td-layout-nav-list #${1:navList} sidenavTitle="${2:MyApp}" logo="${3:Logo}" icon="${4:Will override logo icon}" [opened]="${5:media.registerQuery('gt-sm') | async}" [mode]="${6:(media.registerQuery('gt-sm') | async) ? 'side' : 'over'}" [sidenavWidth]="${7:(media.registerQuery('gt-xs') | async) ? '350px' : '100%'}" color="${8:primary|accent|warn}">
    <div td-sidenav-toolbar-content (click)="${9:!media.query('gt-sm') && ${1:navList}.close()}">
        ${10:Sidenav toolbar content}
    </div>
    <md-nav-list td-sidenav-content>
        ${11:Sidenav content}
    </md-nav-list>
    <div td-toolbar-content>
        ${12:Toolbar content}
    </div>
    ${13:Body}
    <td-layout-footer-inner>
        ${14:Footer within body}
    </td-layout-footer-inner>
    <td-layout-footer>
        ${15:Global fixed footer}
    </td-layout-footer>
</td-layout-nav-list>$END$
